# VS Code
*.vscode*

# Python
__pycache__
*.pyc

# Objects / Deps / Archives
*.o
*.d
*.a
!artemis/bsp/gcc/bin/libam_bsp.a
!artemis_thing_plus/bsp/gcc/bin/libam_bsp.a
!edge/bsp/gcc/bin/libam_bsp.a
!edge2/bsp/gcc/bin/libam_bsp.a
!redboard_artemis/bsp/gcc/bin/libam_bsp.a
!redboard_artemis_atp/bsp/gcc/bin/libam_bsp.a
!redboard_artemis_nano/bsp/gcc/bin/libam_bsp.a

# Binaries
*.bin
!edge/examples/tensorflow_micro_speech/gcc/bin/micro_speech.bin

# Other Build Residuals
*.map
*.lst
*.axf

# MacOSX
*.DS_Store
