# VS Code
*.vscode*

# Python
__pycache__
*.pyc

# Objects / Deps / Archives
*.o
*.d
*.a
!artemis/bsp/gcc/bin/libam_bsp.a
!artemis_thing_plus/bsp/gcc/bin/libam_bsp.a
!artmbed/bsp/gcc/bin/libam_bsp.a
!edge/bsp/gcc/bin/libam_bsp.a
!edge2/bsp/gcc/bin/libam_bsp.a
!redboard_artemis/bsp/gcc/bin/libam_bsp.a
!redboard_artemis_atp/bsp/gcc/bin/libam_bsp.a
!redboard_artemis_nano/bsp/gcc/bin/libam_bsp.a

# Binaries
*.bin
!edge/examples/tensorflow_micro_speech/gcc/bin/micro_speech.bin
!edge/examples/tensorflow_micro_speech_test/gcc/bin/micro_speech_test.bin
!edge2/examples/tensorflow_micro_speech/gcc/bin/micro_speech.bin
!edge2/examples/tensorflow_micro_speech_test/gcc/bin/micro_speech_test.bin
!redboard_artemis/examples/tensorflow_micro_speech/gcc/bin/micro_speech.bin

# Other Build Residuals
*.map
*.lst
*.axf

# MacOSX
*.DS_Store

# Interface Firmware
!artemis_dk/intfc/kl26z_artemis_dk_if.axf
!artemis_dk/intfc/kl26z_artemis_dk_if.bin
!artemis_dk/intfc/kl26z_artemis_dk_if.hex
!artemis_dk/intfc/kl26z_artemis_dk_if_crc.bin
!artemis_dk/intfc/kl26z_artemis_dk_if_crc.hex
!artemis_dk/intfc/kl26z_bl.axf
!artemis_dk/intfc/kl26z_bl.bin
!artemis_dk/intfc/kl26z_bl.hex
!artemis_dk/intfc/kl26z_bl_crc.bin
!artemis_dk/intfc/kl26z_bl_crc.hex
